.CandleStick {
    width: 500px;
    height:500px;
    border:1px solid;
    padding: 20px;
    margin: 20px 0px;
    position: relative;
}

.loader {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 53%;
}